* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  text-transform: capitalize;
  font-family: sans-serif;
}

.continner {
  margin: 30px auto;
  max-width: 720px;
  padding: 20px;
}

h1 {
  text-transform: uppercase;
  margin: 10px 0px;
  font-weight: 900;
}

h2 {
  width: 100%;
  font-size: 26px;
  margin: 18px 0px;
  border-bottom: 1px solid #000;
}

section:not(:last-child) {
  margin-bottom: 30px;
}

ul {
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

ul li {
  line-height: 1.4;
  margin-left: 18px;
  width: 100%;
  padding: 0px 10px;
}

ul li:not(:last-child) {
  margin-bottom: 10px;
}

a {
  color: #000;
}

/* header style */
header {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}

/* education secction style */
.education ul{
  list-style: outside;
}

.education ul li:not(:last-child) {
  margin-bottom: 20px;
}

/* skills section style */
/* projects section style */
.skills, .projects{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.m1{
  margin-bottom: 20px;
}

p.sec-p{
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
}

 ul.sec-ul{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style: square;
}

.front p {
  margin: 2px 0px;
}

/* sec-3 */
/* contact */
/* soft skills */
.sec-3{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 60px;
}

.sec-3 ul li {
  margin: 0 0 10px 20px;
}

.sec-3 img {
  width: 16px;
  margin-right: 6px;
}

.sec-3 p{
  margin-bottom: 10px;
  margin-left: 10px;
}